<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
</head>
<body>
<div>Список препаратов</div>
{{#products}}

<div>
    <b>{{id}}</b>
    <i>{{price}}</i>
    <b>{{description}}</b>
</div>
{{/products}}
</body>
</html>